body{
    background-color: #f4fff4;
    color: #14532d;
    font-family: Arial;
    text-align: center;
}

h1{
    margin-top: 40px;
    color: #166534;
}

h2{
    color: #15803d;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    gap: 20px;
}

a, button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: #22c55e;
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: #15803d;
}

button{
    background-color: #86efac;
    color: #14532d;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background-color: #dcfce7;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
}

input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #22c55e;
    width: 250px;
}