<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Survival Guide</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1> Survival Guide</h1>

<div class="menu">

    <a href="/reglas">
         Cámara de las Reglas
    </a>

    <button disabled>
         Oráculo de las Notas
    </button>

    <button disabled>
         Skills a desbloquear
    </button>

    <button disabled>
         Línea del Tiempo
    </button>

</div>

</body>
</html>